body {
    margin: 0;
    padding: 0;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

#toolbar .open-button {
    display: block;
}

#toolbar {
    opacity: 0.6;
    position: absolute;
    top: 5em;
    left: 0.6em;
}

#toolbar:hover {
    opacity: 1.0;
}

#map {
    width: 100vw;
    height: 100vh;
}

#messages {
    position: absolute;
    top: 0.6em;
    left: 25em;
    width: 25em;
    height: 13em;
    background-color: white;
}

.error {
    border: 1px solid red;
}

.error-text {
    color: red;
    margin: 0.1em;
}

.close-error {
    position: absolute;
    right: 2.2em;
    top: 0;
}

.info {
    color: green;
    margin: 0.1em;
}

#legend {
    position: absolute;
    font-size: large;
    min-width: 7.6em;
    max-width: 54%;
    padding: 0.1em;
    padding-left: 0.3em;
}

/*
  On phones (or other very small screens, our geocoder goes off the side of the screen.
  These two changes should hopefully resolve this.
 */
.leaflet-top.leaflet-right {
    width: 100%;
}

.leaflet-control-geocoder {
    max-width: 60%;
}

/*
  We are including the default style files that come with the Geocode plugin, so we shouldn't need to mess with it more.
  However, it looks ugly without this.
  */
.leaflet-control-geocoder-form input {
    padding-top: 0.3em;
}

.leaflet-control-attribution {
   max-width: 44%;
}

.search-result-legend {
    display: none;
}