body {
    margin: 0;
    padding: 0;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

#toolbar .open-button {
    display: block;
}

#toolbar {
    opacity: 0.6;
    position: absolute;
    top: 5em;
    left: 0.6em;
}

#toolbar:hover {
    opacity: 1.0;
}

#map {
    width: 100vw;
    height: 100vh;
}

#messages {
    position: absolute;
    top: 0.6em;
    left: 25em;
    width: 25em;
    height: 13em;
    background-color: white;
}

.error {
    border: 1px solid red;
}

.error-text {
    color: red;
    margin: 0.1em;
}

.close-error {
    position: absolute;
    right: 2.2em;
    top: 0;
}

.info {
    color: green;
    margin: 0.1em;
}

#legend {
    position: absolute;
    font-size: large;
    width: 7.6em;
    margin: 0.2em;
    padding: 0.1em;
    bottom: 0;
    left: 0;
}