#geo-search {
    font-size: x-large;
}

#results {
    list-style-type: none;
    padding: 0;
    display: block;
    font-size: large;
}

#results li {
    padding: 0.1em;
    margin-bottom: 0.2em;
    opacity: 0.8;
    font-family: helvetica;
}

#results li:hover {
    opacity: 1.0;
}

.search-result {
    width: calc(100% - 14em);
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.search-result-legend {
    position: absolute;
    right: 1em;
    width: 14em;
    text-align: right;
}

#map {
    visibility: hidden;
    height: 256px;
    width: 256px;
    position:fixed;
    top: -1000px;
    left: -1000px;
}}